body {
    background-color: aqua;
}

#sketch-container {
    background: black;
    border: 4px solid brown;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.pixel, .pixel-row {
    flex: 1;
}

.pixel-row {
    display: flex;
}

.pixel {
    background-color: white;
    border: 1px solid black;
}