body {
    background-color: aqua;
    display: flex;
}

#sketch-container {
    background: peachpuff;
  border: 4px solid brown;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
}


.pixel, .pixel-row {
    background-color: black;
    border: 1px solid white;
    flex: 1;

}

.pixel-row {
    display: flex;
}